@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,500&display=swap');
* {
    font-family: 'Kanit', sans-serif;
}

body {
    margin: 0;
}

.thai-font {
    font-family: 'Kanit', sans-serif;
}

.text-engineer {
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    color: #A72C32;
}

.content-engineer {
    padding: 30px;
    background: #C03933;
    border-radius: 4px;
    color: #fff;
}

.bg-gradient-engineer {
    background-color: #E31D1A;
    background-image: linear-gradient(180deg, #E31D1A 10%, #A72C32 100%);
    background-size: cover;
}

.bg-gradient-engineer-re {
    background-color: #E31D1A;
    background-image: linear-gradient(0deg, #E31D1A 10%, #A72C32 100%);
    background-size: cover;
}

.bg-gradient-engineer-regist {
    background-color: #9B3532;
    background-image: linear-gradient(180deg, #9B3532 20%, #C03933 100%);
    background-size: cover;
}

.bg-gradient-faculty {
    background-color: #414042;
    background-image: linear-gradient(180deg, #5c5c5c 20%, #414042 100%);
    background-size: cover;
}

.bg-login-image {
    background: url(../img/KMUTT/CMU24924.jpg);
    background-position: center;
    background-size: cover;
}

.bg-login-stu-image {
    background: url(../img/KMUTT/CMU24927.jpg);
    background-position: center;
    background-size: cover;
}

.bg-register-image {
    background: url(../img/KMUTT/Cover-094504.jpg);
    background-position: center;
    background-size: cover;
}

.bg-password-image {
    background: url(../img/KMUTT/IMG_20180830_181006_566.jpg);
    background-position: center;
    background-size: cover;
}

.black-bg {
    background-color: #414042;
}

.btn-black {
    color: #fff;
    background-color: #414042;
    border-color: #414042;
}

.btn-black:hover {
    color: #fff;
    background-color: #2d2c2e;
    border-color: #2d2c2e;
}

.btn-black:focus,
.btn-black.focus {
    box-shadow: 0 0 0 0.2rem rgba(98, 98, 102, 0.5);
}

.btn-black.disabled,
.btn-black:disabled {
    color: #fff;
    background-color: #858796;
    border-color: #858796;
}

.btn-black:not(:disabled):not(.disabled):active,
.btn-black:not(:disabled):not(.disabled).active,
.show>.btn-black.dropdown-toggle {
    color: #fff;
    background-color: #6b6d7d;
    border-color: #656776;
}

.btn-black:not(:disabled):not(.disabled):active:focus,
.btn-black:not(:disabled):not(.disabled).active:focus,
.show>.btn-black.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(92, 92, 95, 0.5);
}

.required:after {
    content: " *";
    color: #cf362e;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #cf362e;
    background-color: #cf362e;
}


/*progressbar*/

.md-stepper-horizontal {
    display: table;
    width: 100%;
    margin: 0 auto;
}

.md-stepper-horizontal .md-step {
    display: table-cell;
    position: relative;
    padding: 24px;
    padding-bottom: 0px;
}

.md-stepper-horizontal .md-step:hover,
.md-stepper-horizontal .md-step:active {
    background-color: rgba(0, 0, 0, 0.04);
}

.md-stepper-horizontal .md-step:active {
    border-radius: 15% / 75%;
}

.md-stepper-horizontal .md-step:first-child:active {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.md-stepper-horizontal .md-step:last-child:active {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.md-stepper-horizontal .md-step:hover .md-step-circle {
    background-color: #757575;
}

.md-stepper-horizontal .md-step:first-child .md-step-bar-left,
.md-stepper-horizontal .md-step:last-child .md-step-bar-right {
    display: none;
}

.md-stepper-horizontal .md-step .md-step-circle {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    background-color: #d4d4d4;
    border: 2px solid #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
}

.md-stepper-horizontal.orange .md-step .active .md-step-circle {
    background-color: #C03933;
    border: 3px solid #fff;
}

.md-stepper-horizontal .md-step.done .md-step-circle:before {
    font-family: 'FontAwesome';
    font-weight: 100;
    content: "\f00c";
}

.md-stepper-horizontal .md-step.done .md-step-circle *,
.md-stepper-horizontal .md-step.editable .md-step-circle * {
    display: none;
}

.md-stepper-horizontal .md-step.editable .md-step-circle {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.md-stepper-horizontal .md-step.editable .md-step-circle:before {
    font-family: 'FontAwesome';
    font-weight: 100;
    content: "\f040";
}

.md-stepper-horizontal .md-step .md-step-title {
    margin-top: 16px;
    font-size: 16px;
    font-weight: 400;
}

.md-stepper-horizontal .md-step .md-step-title,
.md-stepper-horizontal .md-step .md-step-optional {
    text-align: center;
    color: rgb(255, 255, 255);
}

.md-stepper-horizontal .md-step .active .md-step-title {
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.md-stepper-horizontal .md-step .active.done .md-step-title,
.md-stepper-horizontal .md-step .active.editable .md-step-title {
    font-weight: 600;
}

.md-stepper-horizontal .md-step .md-step-optional {
    font-size: 12px;
}

.md-stepper-horizontal .md-step.active .md-step-optional {
    color: rgba(255, 255, 255, 0.54);
}

.md-stepper-horizontal .md-step .md-step-bar-left,
.md-stepper-horizontal .md-step .md-step-bar-right {
    position: absolute;
    top: 36px;
    height: 1px;
    border-top: 2px solid #DDDDDD;
}

.md-stepper-horizontal .md-step .md-step-bar-right {
    right: 0;
    left: 50%;
    margin-left: 20px;
}

.md-stepper-horizontal .md-step .md-step-bar-left {
    left: 0;
    right: 50%;
    margin-right: 20px;
}


/*--------------------------------------------------------------
  # Top Bar
  --------------------------------------------------------------*/

#topbar {
    background: #39312f;
    font-size: 14px;
    padding: 0;
    color: rgba(255, 255, 255, 0.8);
}

#topbar .contact-info ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#topbar .contact-info li {
    display: inline-block;
    padding: 8px 0;
}

#topbar .contact-info li+li {
    margin-left: 18px;
}

#topbar .contact-info a {
    color: rgba(255, 255, 255, 0.8);
    transition: 0.3s;
}

#topbar .contact-info a:hover {
    color: #fff;
}

#topbar .contact-info i {
    color: #A72C32;
    padding-right: 4px;
}

#topbar .cta a {
    color: #fff;
    background: #A72C32;
    padding: 8px 20px;
    display: inline-block;
    transition: 0.3s;
}

#topbar .cta a:hover {
    background: rgb(212, 27, 37);
}

.carousel-item {
    height: 450px;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 100px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}

.header-item {
    height: 450px;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header-caption {
    position: absolute;
    right: 15%;
    bottom: 100px;
    left: 0%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}

.search-section {
    background-color: #414042;
    color: #fff;
}


/*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/

.bg-head {
    min-height: 450px;
    background-image: url('../img/cover-crop.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#header {
    height: 70px;
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    padding: 10px 0;
    background: rgba(255, 255, 255, 0);
}

#header.header-scrolled {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

#header .logo h1 {
    font-size: 28px;
    margin: 0;
    padding: 8px 0;
    line-height: 1;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
}

#header .logo h1 a,
#header .logo h1 a:hover {
    color: #635551;
    text-decoration: none;
}

#header .logo img {
    padding: 0;
    margin: 0;
    max-height: 40px;
}

#main {
    margin-top: 80px;
    z-index: 3;
}


/**- https://codepen.io/JGallardo/pen/lJoyk -**/


/*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/

#navbar {
    position: absolute;
    /* Make it stick/fixed */
    top: 0;
    /* Stay on top */
    width: 100%;
    /* Full width */
    transition: top 0.3s;
    /* Transition effect when sliding down (and up) */
}


/* Style the navbar links */

#navbar a {
    float: left;
    display: block;
    color: rgba(255, 255, 255, 0);
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

#navbar a:hover {
    background-color: #ddd;
    color: black;
}


/*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/

#hero {
    width: 100%;
    height: 450px;
    /*60vh*/
    background: url("../img/KMUTT/20181030_180608.jpg") center center;
    background-size: cover;
    position: relative;
    z-index: 1;
    padding: 0;
    margin-bottom: -200px;
}

#hero:before {
    content: "";
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#hero .container {
    z-index: 2;
}

#hero h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
}

#hero h2 {
    color: #eee;
    margin-bottom: 50px;
    font-size: 24px;
}

#hero .get-started-icon {
    font-size: 24px;
    background: #A72C32;
    padding: 14px;
    color: #fff;
    border-radius: 50px;
    position: relative;
    z-index: 5;
    box-shadow: 10px 2px 15px rgba(0, 0, 0, 0.1);
}

#hero .btn-get-started {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    transition: 0.5s;
    margin-left: -10px;
    padding: 8px 26px 8px 26px;
    color: #fff;
    background: #584b48;
    border-radius: 0 50px 50px 0;
    position: relative;
    z-index: 4;
}

#hero .btn-get-started:hover {
    background: rgb(211, 24, 33);
}

@media (min-width: 1024px) {
    #hero {
        background-attachment: fixed;
    }
}

@media (max-width: 1024px) {
    #hero {
        margin-bottom: -150px;
    }
}

@media (max-height: 768px) {
    #hero {
        margin-bottom: -150px;
    }
}

@media (max-width: 768px) {
    #hero h1 {
        font-size: 28px;
        line-height: 36px;
    }
    #hero h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
}


/*--------------------------------------------------------------
  # Sections General
  --------------------------------------------------------------*/

section {
    padding: 60px 0;
    overflow: hidden;
}

.section-bg {
    background-color: #fff9f7;
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
}

.section-title h2 {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 20px;
    padding-bottom: 0;
    font-family: "Poppins", sans-serif;
    color: #635551;
}

.section-title p {
    margin-bottom: 0;
}


/*--------------------------------------------------------------
  # BTN
  --------------------------------------------------------------*/

.btn-engineer {
    color: #fff;
    background-color: #A72C32;
    border-color: #A72C32;
    border-radius: 50px;
}

.btn-engineer:hover {
    color: #fff;
    background-color: #c91a23;
    border-color: #c91a23;
}

.btn-engineer:focus,
.btn-engineer.focus {
    box-shadow: 0 0 0 0.2rem rgba(228, 105, 105, 0.5);
}

.btn-engineer.disabled,
.btn-engineer:disabled {
    color: #fff;
    background-color: #A72C32;
    border-color: #A72C32;
}

.btn-engineer:not(:disabled):not(.disabled):active,
.btn-engineer:not(:disabled):not(.disabled).active,
.show>.btn-engineer.dropdown-toggle {
    color: #fff;
    background-color: #8d171d;
    border-color: #8d171d;
}

.btn-engineer:not(:disabled):not(.disabled):active:focus,
.btn-engineer:not(:disabled):not(.disabled).active:focus,
.show>.btn-engineer.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(228, 105, 105, 0.5);
}

.scrollbar {
    float: left;
    height: 300px;
    width: 65px;
    overflow-y: scroll;
    margin-bottom: 25px;
}

#company_list {
    height: 1000px;
}

#company_list::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

#company_list::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #F5F5F5;
}

#company_list::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #C4C4C4;
}

#company_info {
    overflow-y: auto;
    overflow-x: hidden;
    height: 1000px;
}

#company_info::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

#company_info::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #F5F5F5;
}

#company_info::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #C4C4C4;
}

.company-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-top: 1px solid #e3e6f0;
    border-bottom: 1px solid #e3e6f0;
    border-left: 0px solid #e3e6f0;
    border-right: 0px solid #e3e6f0;
    border-radius: .35rem;
}

.post-job a {
    color: #fff !important;
}

#sticky-footer {
    flex-shrink: none;
}

::-webkit-scrollbar {
    width: 18px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #a0a0a0;
}